*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
        align-items: center;
        justify-content: center;
    min-height: 100vh;
}

.btn{
    background: none;
    border: 2px solid #3498db;
    display: inline-block;
    color: #3498db;
    cursor: pointer;
    font-size: 1.5em;
    margin: 1em 0;
    padding: 0.5em 1em;
    text-transform: uppercase;
    transition: all 0.25s;
}
.btn:hover{
    background: #3498db;
    color: #fff;
}
.btn-white{
    border-color: #fff;
    color: #fff;
}
.btn-white:hover{
    background: #fff;
    color: #444;
}